:root {
    --full-slider-bar: hsl(174, 77%, 80%);
    --slider-bg: hsl(174, 86%, 45%);
    --discount-bg: hsl(14, 92%, 95%);
    --discount-text: hsl(15, 100%, 70%);
    --CTA-text: hsl(226, 100%, 87%);
    --bg: hsl(230, 100%, 99%);
    --empty-slider-bar: hsl(224, 65%, 95%);
    --toggle-bg: hsl(223, 50%, 87%);
    --text: hsl(225, 20%, 60%);
    --text-and-CTA-bg: hsl(227, 35%, 25%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-size: 15px;
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: var(--text);
    font-weight: 600;
    background: url(./images/bg-pattern.svg) no-repeat;
    background-position: 0% 0%;
    background-color: var(--bg);
    overflow: hidden;
}
h1 {
    font-size: 1.5rem;
    color: var(--text-and-CTA-bg);
    font-weight: 800;
    z-index: 2;
}
h2 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
}
header > p {
    line-height: 1.6rem;
    z-index: 2;
    width: 63%;
}
header > img {
    position: absolute;
    width: 50%;
    height: 180%;
    top: -50%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: 2.3rem 1.8rem;
    border-radius: 0.6rem;
    background-color: white;
    position: relative;
    box-shadow: 0 0.625rem 1.875rem 0 hsla(227, 36%, 35%, 0.1);
}
section.slider {
    margin: 2.8rem 0;
    height: 0.66rem;
    border-radius: 0.6rem;
    position: relative;
}
input[type="range"] {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    background-color: var(--empty-slider-bar);
    border-radius: 0.6rem;
    left: 0;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--slider-bg);
    box-shadow: 0 0.5rem 0.9rem 0 rgba(129, 255, 245, 0.945);
    cursor: pointer;
    transition: 0.25s ease;
}
input[type="range"] input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(13, 135, 135);
}
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #7be9de;
}
input[type=range]::-moz-range-thumb {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: var(--slider-bg);
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0.5rem 0.9rem 0 rgba(129, 255, 245, 0.945);
    cursor: pointer;
    transition: 0.25s ease;
}
input[type=range]::-moz-range-thumb:hover {
    background-color: #7be9de;
}
input[type=range]::-ms-thumb {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: var(--slider-bg);
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0.5rem 0.9rem 0 rgba(129, 255, 245, 0.945);
    cursor: pointer;
    transition: 0.25s ease;
}

main > p {
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
}
main > p span.money {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-and-CTA-bg);
}

section.mon-year {
    margin: 2.2rem 0;
    position: relative;
    font-size: 0.77rem;
}
section.mon-year .choices {
    display: flex;
    gap: 0.62rem;
    align-items: center;
    justify-content: center;
}
section.mon-year .switch {
    width: 3rem;
    height: 1.6rem;
    border-radius: 1.8rem;
    background-color: var(--toggle-bg);
    display: flex;
    align-items: center;
    padding: 0.3rem;
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
}
section.mon-year .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
section.mon-year .switch:hover {
    background-color: #7be9de;
}
section.mon-year .switch span {
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
section.mon-year .switch span::before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    left: 0.3rem;
    top: 0.3rem;
    background-color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
section.mon-year .switch input:checked + span::before {
    transform: translateX(1.4rem);
    -webkit-transform: translateX(1.4rem);
    -ms-transform: translateX(1.4rem);
    -moz-transform: translateX(1.4rem);
}
section.mon-year .discount {
    position: absolute;
    height: 1.1rem;
    width: max-content;
    padding: 0 0.3rem;
    border-radius: 1.5rem;
    background-color: var(--discount-bg);
    color: var(--discount-text);
    font-size: 0.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 0.55rem);
    left: calc(50% + 7.5rem);;
}

main hr {
    border: 1px solid var(--empty-slider-bar);
    border-bottom: none;
    border-left: none;
    border-radius: none;
    width: calc(100% + 3.6rem);
    margin-left: -1.8rem;
}

section.des {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
section.des > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
}
section.des > ul li {
    display: flex;
    gap: 1rem;
    align-items: center;
}
section.des > ul li img {
    width: 1rem;
    height: 1rem;
}
section.des > button {
    width: 60%;
    height: 2.8rem;
    border-radius: 1.8rem;
    border: none;
    background-color: var(--text-and-CTA-bg);
    color: var(--CTA-text);
    font-family: inherit;
    cursor: pointer;
    transition: 0.25s ease;
}
section.des > button:hover {
    color: white;
}


@media screen and (min-width: 768px) {
    html {
        font-size: 17px;
    }
    body {
        background-size: 100% 50%;
    }
    header {
        gap: 0.8rem;
        margin-top: -1rem;
    }
    header > h1 {
        font-size: 1.7rem;
    }
    header > p {
        width: 60%;
        font-size: .9rem;
    }
    header > img {
        width: 12%;
        top: -3rem;
    }
    main {
        width: 43%;
        margin: 0 auto;
        padding: 2.3rem 3.5rem;
    }
    main > h2 {
        width: 50%;
        text-align: left;
        margin-top: 1.13rem;
    }
    main > p {
        width: 50%;
        position: absolute;
        right: 3.5rem;
        text-align: right;
    }
    section.slider {
        margin: 3.8rem 0 1.5rem;
        height: 0.66rem;
        border-radius: 0.6rem;
        position: relative;
    }
    section.des {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
    section.des > ul {
        align-items: flex-start;
        gap: 0.5rem;
    }
    section.des > ul li {
        align-items: flex-start;
    }
    section.des > button {
        width: 35%;
        height: 2.9rem;
    }
    main hr {
        width: calc(100% + 7rem);
        margin-left: -3.5rem;
    }
}